{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div id="#home">
    <div class="home-hero">
      <h2>Welcome fellow CS1B!</h2>
      <p>
        I am Matthew David C. Fernandez, your president. I created this website to help us officers when sorting, finding,
        groupings information and not just that we will post announcements here to give updates.
      </p>
    </div>
  </div>
    
  {% else %}
  <div id="home" class="container text-center" style="height: 100vh;">
    <h1>Welcome to our website!</h1>
    <p>This platform has been designed specifically to assist officers in
      efficiently sorting and locating information. In addition to these functionalities,
      we will also post important announcements here to keep everyone updated.</p>
    <a href="{% url 'register' %}" type="button" class="btn btn-outline-danger">Create an account</a>
  </div>
  {% endif %}
  
{% endblock %}