{% extends "base.html" %}

{% block title %} Users {% endblock %}
{% block h1 %} Users Page {% endblock %}


{% block content %}
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, vero commodi, vel harum cumque accusamus nulla
  soluta amet quae aspernatur perferendis inventore ea minima accusantium possimus qui repudiandae eligendi quas
</p>
{% endblock %}

{% block loops %}
<h3>Users</h3>
<p>{{ nest.nested }}</p>
<a href="{% url 'home' %}"> home</a>
<ul>
  {% for f in first_name %}
    <li>{{ f }}</li>
  {% endfor %}
</ul>
{% endblock %}